.content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: 'Georgia';
  font-size: 32px;
  height: 480px;
  justify-content: center;
  padding: 0 100px;
  text-align: center;
  width: 100%;
}

.even {
  color: #515151;
  background-color: #dddddd;
}

.odd {
  color: #dddddd;
  background-color: #515151;
}

@media screen and (max-width: 600px) {
  .content {
    align-items: unset;
    font-size: 20px;
    padding: 0 48px;
  }

  .header-container {
    padding: 92px 48px 0;
  }
}
