.experience-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  text-align: left;
}

.experience-duration {
  font-size: 18px;
  font-style: italic;
}

.experience-bullet-container {
  font-size: 24px;
  margin-left: 56px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .experience-bullet-container {
    font-size: 14px;
    margin-left: 32px;
  }

  .experience-header {
    display: unset;
    margin: 16px 0;
  }

  .experience-duration {
    font-size: 12px;
    margin: 8px 0;
    text-align: right;
  }
}
