.header {
    display: inline-block;
    height: 480px;
    position: relative;
}

.header svg {
    fill: #dddddd;
}

.cycle-tyre-1, .cycle-tyre-2, .cycle-rest {
    left: 0;
    position: absolute;
    top: 48px;
    width: 25%;
}

.cycle-tyre-1.animate, .cycle-tyre-2.animate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 3.5;
    animation-timing-function: linear;
}

.cycle-tyre-1.animate, .cycle-tyre-2.animate, .cycle-rest.animate {
    margin-left: 75%;
    transition: margin-left 4s linear;
}

.cycle-tyre-1 {
    transform-origin: 81% 56%;
}

.cycle-tyre-2 {
    transform-origin: 17% 56%;
}

.cycle-path {
    left: 0;
    position: absolute;
    top: 48px;
}

.cycle-path svg {
    width: 25%;
}

.cycle-tyre-shadow {
    fill: #3f3f3f;
}

.header-title {
    margin-top: 284px;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
