.skill-container {
  font-size: 28px;
  text-align: left;
}

.skill-bar-holder {
  background-color: #dddddd;
  border: solid 2px #525252;
  border-radius: 4px;
  box-sizing: border-box;
  height: 8px;
  margin: 8px 0 16px 0;
  width: 480px;
}

.skill-bar {
  background-color: #525252;
  height: 4px;
  width: 0;
  transition: width 0.3s ease;
}

.skill-level-10 {
    width: 100%;
}

.skill-level-9 {
    width: 90%;
}

.skill-level-8 {
    width: 80%;
}

.skill-level-7 {
    width: 70%;
}

.skill-level-6 {
    width: 60%;
}

.skill-level-5 {
    width: 50%;
}

@media screen and (max-width: 600px) {
  .skill-container {
    font-size: 24px;
  }

  .skill-bar-holder {
    width: 100%;
  }
}
